In [151]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [169]:
confirmados_file = "Confirmados.csv"
defunciones_file = "Defunciones.csv"
sospechosos_file = "Sospechosos.csv"
negativos_file = "Negativos.csv"

### Transform DataFrames

In [178]:
confirmados_data = pd.read_csv(confirmados_file)
confirmados_df = pd.DataFrame(confirmados_data)
confirmados_df = confirmados_df.dropna(how='all')
confirmados_df.insert(3, "status", ["confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados"], True) 
c1_df = confirmados_df.drop([0])
c1_df.head()

,fips,estado,pais,status,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
1,1,AGUASCALIENTES,Mexico,confirmados,NaN,NaN,0,0,0,0,...,9,4,9,6,1,1,0,2,NaN,NaN
2,2,BAJA CALIFORNIA,Mexico,confirmados,NaN,NaN,0,0,0,0,...,69,58,34,15,6,23,1,0,NaN,NaN
3,3,BAJA CALIFORNIA SUR,Mexico,confirmados,NaN,NaN,0,0,0,0,...,5,9,5,1,1,0,1,0,NaN,NaN
4,4,CAMPECHE,Mexico,confirmados,NaN,NaN,0,0,0,0,...,2,4,1,5,1,1,2,0,NaN,NaN
5,5,COAHUILA,Mexico,confirmados,NaN,NaN,0,0,0,0,...,13,4,8,1,2,2,12,0,NaN,NaN

In [163]:
#Nacional confirmados
na1 = confirmados_df.loc[confirmados_df['estado'] == "Nacional"]
na1

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,0,Nacional,confirmados,Mexico,NaN,NaN,0,0,0,0,...,686,654,663,419,343,569,265,67,NaN,NaN

In [164]:
sospechosos_data = pd.read_csv(sospechosos_file)
sospechosos_df = pd.DataFrame(sospechosos_data)
sospechosos_df = sospechosos_df.dropna(how='all')
sospechosos_df.insert(3, "status", ["sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos"], True) 
s1_df = sospechosos_df.drop([0])
s1_df.head()

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
1,1,AGUASCALIENTES,sospechosos,Mexico,NaN,NaN,0,0,0,0,...,4,0,1,0,10,41,37,7,NaN,NaN
2,2,BAJA CALIFORNIA,sospechosos,Mexico,NaN,NaN,0,0,0,0,...,37,19,41,6,18,51,71,44,NaN,NaN
3,3,BAJA CALIFORNIA SUR,sospechosos,Mexico,NaN,NaN,0,0,0,0,...,1,8,7,0,1,1,4,0,NaN,NaN
4,4,CAMPECHE,sospechosos,Mexico,NaN,NaN,0,0,0,0,...,6,0,0,2,0,2,7,3,NaN,NaN
5,5,COAHUILA,sospechosos,Mexico,NaN,NaN,0,0,0,0,...,24,12,10,7,4,50,44,72,NaN,NaN

In [165]:
na2 = sospechosos_df.loc[sospechosos_df['estado'] == "Nacional"]
na2

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,0,Nacional,sospechosos,Mexico,NaN,NaN,1,0,0,0,...,555,509,509,179,266,753,1213,1577,NaN,NaN

In [170]:
negativos_data = pd.read_csv(negativos_file)
negativos_df = pd.DataFrame(negativos_data)
negativos_df = negativos_df.dropna(how='all')
negativos_df.insert(3, "status",["negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos"], True)
n1_df = negativos_df.drop([0])
n1_df.head()

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
1,1,AGUASCALIENTES,negativos,Mexico,NaN,NaN,0,1,1,0,...,58,32,20,10,18,23,1,0,NaN,NaN
2,2,BAJA CALIFORNIA,negativos,Mexico,NaN,NaN,2,1,2,0,...,28,33,20,8,5,14,0,0,NaN,NaN
3,3,BAJA CALIFORNIA SUR,negativos,Mexico,NaN,NaN,0,0,0,0,...,36,23,10,3,3,8,9,3,NaN,NaN
4,4,CAMPECHE,negativos,Mexico,NaN,NaN,0,0,0,0,...,7,9,3,5,1,20,2,0,NaN,NaN
5,5,COAHUILA,negativos,Mexico,NaN,NaN,5,3,2,0,...,73,139,98,34,8,44,22,1,NaN,NaN

In [171]:
na3 = negativos_df.loc[negativos_df['estado'] == "Nacional"]
na3

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,0,Nacional,negativos,Mexico,NaN,NaN,56,46,46,15,...,1505,1438,1565,633,520,1261,609,150,NaN,NaN

In [172]:
defunciones_data = pd.read_csv(defunciones_file)
defunciones_df = pd.DataFrame(defunciones_data)
defunciones_df = defunciones_df.dropna(how='all')
defunciones_df.insert(3, "status",["defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones"], True)
d1_df = defunciones_df.drop([0])
d1_df.head()

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
1,1,AGUASCALIENTES,defunciones,Mexico,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,2,BAJA CALIFORNIA,defunciones,Mexico,NaN,NaN,0,0,0,0,...,14,6,8,2,9,5,3,0,NaN,NaN
3,3,BAJA CALIFORNIA SUR,defunciones,Mexico,NaN,NaN,0,0,0,0,...,0,1,1,0,0,1,0,1,NaN,NaN
4,4,CAMPECHE,defunciones,Mexico,NaN,NaN,0,0,0,0,...,0,0,1,0,1,0,0,0,NaN,NaN
5,5,COAHUILA,defunciones,Mexico,NaN,NaN,0,0,0,0,...,1,3,0,0,1,3,1,1,NaN,NaN

In [173]:
na4 = defunciones_df.loc[defunciones_df['estado'] == "Nacional"]
na4

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,0,Nacional,defunciones,Mexico,NaN,NaN,0,0,0,0,...,65,49,56,52,66,58,37,29,NaN,NaN

### Merge all DataFrames

In [174]:
#Merge by state
estados_df = pd.concat([c1_df,s1_df,n1_df,d1_df], ignore_index=True)
estados_df.head()

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,1,AGUASCALIENTES,confirmados,Mexico,NaN,NaN,0,0,0,0,...,9,4,9,6,1,1,0,2,NaN,NaN
1,2,BAJA CALIFORNIA,confirmados,Mexico,NaN,NaN,0,0,0,0,...,69,58,34,15,6,23,1,0,NaN,NaN
2,3,BAJA CALIFORNIA SUR,confirmados,Mexico,NaN,NaN,0,0,0,0,...,5,9,5,1,1,0,1,0,NaN,NaN
3,4,CAMPECHE,confirmados,Mexico,NaN,NaN,0,0,0,0,...,2,4,1,5,1,1,2,0,NaN,NaN
4,5,COAHUILA,confirmados,Mexico,NaN,NaN,0,0,0,0,...,13,4,8,1,2,2,12,0,NaN,NaN

In [175]:
#Merge by nacional
nacional_df = pd.concat([na1,na2,na3,na4], ignore_index=True)
nacional_df.head()

,fips,estado,status,pais,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,...,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,Unnamed: 97,Unnamed: 98
0,0,Nacional,confirmados,Mexico,NaN,NaN,0,0,0,0,...,686,654,663,419,343,569,265,67,NaN,NaN
1,0,Nacional,sospechosos,Mexico,NaN,NaN,1,0,0,0,...,555,509,509,179,266,753,1213,1577,NaN,NaN
2,0,Nacional,negativos,Mexico,NaN,NaN,56,46,46,15,...,1505,1438,1565,633,520,1261,609,150,NaN,NaN
3,0,Nacional,defunciones,Mexico,NaN,NaN,0,0,0,0,...,65,49,56,52,66,58,37,29,NaN,NaN

### Create database connection

In [176]:
rds_connection_string = "postgres:postgres@localhost:5432/Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [177]:
# Confirm tables
engine.table_names()

['negativos',
 'sospechosos',
 'defunciones',
 'confirmados',
 'estados',
 'nacional']

### Load DataFrames into database

In [104]:
n1_df.to_sql(name='negativos', con=engine, if_exists='append', index=False)

In [105]:
s1_df.to_sql(name='sospechosos', con=engine, if_exists='append', index=False)

In [106]:
d1_df.to_sql(name='defunciones', con=engine, if_exists='append', index=False)

In [107]:
c1_df.to_sql(name='confirmados', con=engine, if_exists='append', index=False)

In [141]:
estados_df.to_sql(name='estados', con=engine, if_exists='append', index=False)

In [142]:
nacional_df.to_sql(name='nacional', con=engine, if_exists='append', index=False)

### SQL Tables

In [ ]:
#Just change the table name 
create table confirmados/sospechosos/negativos/defunciones/estados/nacional
(
fips varchar(100)
estado varchar(100),
pais varchar(100),
status varchar(100),
Lat int,
Long int,
"1/22/20" int,
"1/23/20" int,
"1/24/20" int,
"1/25/20" int,
"1/26/20" int,
"1/27/20" int,
"1/28/20" int,
"1/29/20" int,
"1/30/20" int,
"1/31/20" int,
"2/1/20" int,
"2/2/20" int,
"2/3/20" int,
"2/4/20" int,
"2/5/20" int,
"2/6/20" int,
"2/7/20" int,
"2/8/20" int,
"2/9/20" int,
"2/10/20" int,
"2/11/20" int,
"2/12/20" int,
"2/13/20" int,
"2/14/20" int,
"2/15/20" int,
"2/16/20" int,
"2/17/20" int,
"2/18/20" int,
"2/19/20" int,
"2/20/20" int,
"2/21/20" int,
"2/22/20" int,
"2/23/20" int,
"2/24/20" int,
"2/25/20" int,
"2/26/20" int,
"2/27/20" int,
"2/28/20" int,
"2/29/20" int,
"3/1/20" int,
"3/2/20" int,
"3/3/20" int,
"3/4/20" int,
"3/5/20" int,
"3/6/20" int,
"3/7/20" int,
"3/8/20" int,
"3/9/20" int,
"3/10/20" int,
"3/11/20" int,
"3/12/20" int,
"3/13/20" int,
"3/14/20" int,
"3/15/20" int,
"3/16/20" int,
"3/17/20" int,
"3/18/20" int,
"3/19/20" int,
"3/20/20" int,
"3/21/20" int,
"3/22/20" int,
"3/23/20" int,
"3/24/20" int,
"3/25/20" int,
"3/26/20" int,
"3/27/20" int,
"3/28/20" int,
"3/29/20" int,
"3/30/20" int,
"3/31/20" int,
"4/1/20" int,
"4/2/20" int,
"4/3/20" int,
"4/4/20" int,
"4/5/20" int,
"4/6/20" int,
"4/7/20" int,
"4/8/20" int,
"4/9/20" int,
"4/10/20" int,
"4/11/20" int,
"4/12/20" int,
"4/13/20" int,
"4/14/20" int,
"4/15/20" int,
"4/16/20" int,
"4/17/20" int,
"4/18/20" int,
"4/19/20" int,
"4/20/20" int,
"4/21/20" int,
"4/22/20" int
)