In [121]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [122]:
confirmados_file = "Confirmados.csv"
defunciones_file = "Defunciones.csv"
sospechosos_file = "Sospechosos.csv"
negativos_file = "Negativos.csv"

### Transform DataFrames

In [124]:
confirmados_data = pd.read_csv(confirmados_file)
confirmados_df = pd.DataFrame(confirmados_data)
confirmados_df = confirmados_df.dropna(how='all')
confirmados_df.insert(3, "status", ["confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados","confirmados"], True) 
c1_df = confirmados_df.drop([0])
c1_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
1,1.0,1434635.0,AGUASCALIENTES,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,9.0,4.0,9.0,6.0,1.0,1.0,0.0,2.0
2,2.0,3634868.0,BAJA CALIFORNIA,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,78.0,102.0,69.0,58.0,34.0,15.0,6.0,23.0,1.0,0.0
3,3.0,804708.0,BAJA CALIFORNIA SUR,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,14.0,5.0,9.0,5.0,1.0,1.0,0.0,1.0,0.0
4,4.0,1000617.0,CAMPECHE,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,2.0,4.0,1.0,5.0,1.0,1.0,2.0,0.0
5,5.0,3218720.0,COAHUILA,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,14.0,13.0,4.0,8.0,1.0,2.0,2.0,12.0,0.0

In [112]:
#Nacional confirmados
na1 = confirmados_df.loc[confirmados_df['nombre'] == "Nacional"]
na1

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,0.0,127792286.0,Nacional,confirmados,0.0,1.0,0.0,1.0,0.0,0.0,...,702.0,702.0,686.0,654.0,663.0,419.0,343.0,569.0,265.0,67.0

In [125]:
sospechosos_data = pd.read_csv(sospechosos_file)
sospechosos_df = pd.DataFrame(sospechosos_data)
sospechosos_df = sospechosos_df.dropna(how='all')
sospechosos_df.insert(3, "status", ["sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos","sospechosos"], True) 
s1_df = sospechosos_df.drop([0])
s1_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
1,1,1434635,AGUASCALIENTES,sospechosos,0,0,0,0,0,0,...,1,2,4,0,1,0,10,41,37,7
2,2,3634868,BAJA CALIFORNIA,sospechosos,0,0,0,0,0,0,...,6,26,37,19,41,6,18,51,71,44
3,3,804708,BAJA CALIFORNIA SUR,sospechosos,0,0,0,0,0,0,...,4,8,1,8,7,0,1,1,4,0
4,4,1000617,CAMPECHE,sospechosos,0,0,0,0,0,0,...,0,0,6,0,0,2,0,2,7,3
5,5,3218720,COAHUILA,sospechosos,0,0,0,0,0,0,...,5,14,24,12,10,7,4,50,44,72

In [114]:
na2 = sospechosos_df.loc[sospechosos_df['nombre'] == "Nacional"]
na2

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,0,127792286,Nacional,sospechosos,0,0,0,0,0,0,...,259,444,555,509,509,179,266,753,1213,1577

In [126]:
negativos_data = pd.read_csv(negativos_file)
negativos_df = pd.DataFrame(negativos_data)
negativos_df = negativos_df.dropna(how='all')
negativos_df.insert(3, "status",["negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos","negativos"], True)
n1_df = negativos_df.drop([0])
n1_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
1,1,1434635,AGUASCALIENTES,negativos,0,0,0,0,1,0,...,42,40,58,32,20,10,18,23,1,0
2,2,3634868,BAJA CALIFORNIA,negativos,1,3,1,1,2,3,...,30,50,28,33,20,8,5,14,0,0
3,3,804708,BAJA CALIFORNIA SUR,negativos,0,0,0,0,2,0,...,43,33,36,23,10,3,3,8,9,3
4,4,1000617,CAMPECHE,negativos,0,0,0,0,0,0,...,19,10,7,9,3,5,1,20,2,0
5,5,3218720,COAHUILA,negativos,1,4,0,1,0,0,...,106,102,73,139,98,34,8,44,22,1

In [116]:
na3 = negativos_df.loc[negativos_df['nombre'] == "Nacional"]
na3

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,0,127792286,Nacional,negativos,14,28,27,15,44,39,...,1822,1759,1505,1438,1565,633,520,1261,609,150

In [127]:
defunciones_data = pd.read_csv(defunciones_file)
defunciones_df = pd.DataFrame(defunciones_data)
defunciones_df = defunciones_df.dropna(how='all')
defunciones_df.insert(3, "status",["defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones","defunciones"], True)
d1_df = defunciones_df.drop([0])
d1_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
1,1,1434635,AGUASCALIENTES,defunciones,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2,3634868,BAJA CALIFORNIA,defunciones,0,0,0,0,0,0,...,5,8,14,6,8,2,9,5,3,0
3,3,804708,BAJA CALIFORNIA SUR,defunciones,0,0,0,0,0,0,...,0,0,0,1,1,0,0,1,0,1
4,4,1000617,CAMPECHE,defunciones,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
5,5,3218720,COAHUILA,defunciones,0,0,0,0,0,0,...,0,3,1,3,0,0,1,3,1,1

In [128]:
na4 = defunciones_df.loc[defunciones_df['nombre'] == "Nacional"]
na4

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,0,127792286,Nacional,defunciones,0,0,0,0,0,0,...,55,64,65,49,56,52,66,58,37,29

### Merge all DataFrames

In [140]:
#Merge by state
estados_df = pd.concat([c1_df,s1_df,n1_df,d1_df], ignore_index=True)
estados_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,1.0,1434635.0,AGUASCALIENTES,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,9.0,4.0,9.0,6.0,1.0,1.0,0.0,2.0
1,2.0,3634868.0,BAJA CALIFORNIA,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,78.0,102.0,69.0,58.0,34.0,15.0,6.0,23.0,1.0,0.0
2,3.0,804708.0,BAJA CALIFORNIA SUR,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,14.0,5.0,9.0,5.0,1.0,1.0,0.0,1.0,0.0
3,4.0,1000617.0,CAMPECHE,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,4.0,2.0,4.0,1.0,5.0,1.0,1.0,2.0,0.0
4,5.0,3218720.0,COAHUILA,confirmados,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,14.0,13.0,4.0,8.0,1.0,2.0,2.0,12.0,0.0

In [138]:
#Merge by nacional
nacional_df = pd.concat([na1,na2,na3,na4], ignore_index=True)
nacional_df.head()

,cve_ent,poblacion,nombre,status,5/1/20,6/1/20,7/1/20,8/1/20,9/1/20,10/1/20,...,13-04-2020,14-04-2020,15-04-2020,16-04-2020,17-04-2020,18-04-2020,19-04-2020,20-04-2020,21-04-2020,22-04-2020
0,0.0,127792286.0,Nacional,confirmados,0.0,1.0,0.0,1.0,0.0,0.0,...,702.0,702.0,686.0,654.0,663.0,419.0,343.0,569.0,265.0,67.0
1,0.0,127792286.0,Nacional,sospechosos,0.0,0.0,0.0,0.0,0.0,0.0,...,259.0,444.0,555.0,509.0,509.0,179.0,266.0,753.0,1213.0,1577.0
2,0.0,127792286.0,Nacional,negativos,14.0,28.0,27.0,15.0,44.0,39.0,...,1822.0,1759.0,1505.0,1438.0,1565.0,633.0,520.0,1261.0,609.0,150.0
3,0.0,127792286.0,Nacional,defunciones,0.0,0.0,0.0,0.0,0.0,0.0,...,55.0,64.0,65.0,49.0,56.0,52.0,66.0,58.0,37.0,29.0

### Create database connection

In [101]:
rds_connection_string = "postgres:postgres@localhost:5432/Project2"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [103]:
# Confirm tables
engine.table_names()

['negativos',
 'sospechosos',
 'defunciones',
 'confirmados',
 'estados',
 'nacional']

### Load DataFrames into database

In [104]:
n1_df.to_sql(name='negativos', con=engine, if_exists='append', index=False)

In [105]:
s1_df.to_sql(name='sospechosos', con=engine, if_exists='append', index=False)

In [106]:
d1_df.to_sql(name='defunciones', con=engine, if_exists='append', index=False)

In [107]:
c1_df.to_sql(name='confirmados', con=engine, if_exists='append', index=False)

In [141]:
estados_df.to_sql(name='estados', con=engine, if_exists='append', index=False)

In [142]:
nacional_df.to_sql(name='nacional', con=engine, if_exists='append', index=False)

### SQL Tables

In [ ]:
#Just change the table name 
create table confirmados/sospechosos/negativos/defunciones/estados/nacional
(
cve_ent int,
poblacion int,
nombre varchar(100),
status varchar(100),
"5/1/20" int,
"6/1/20" int,
"7/1/20" int,
"8/1/20" int,
"9/1/20" int,
"10/1/20" int,
"11/1/20" int,
"12/1/20" int,
"13-01-2020" int,
"14-01-2020" int,
"15-01-2020" int,
"16-01-2020" int,
"17-01-2020" int,
"18-01-2020" int,
"19-01-2020" int,
"20-01-2020" int,
"21-01-2020" int,
"22-01-2020" int,
"23-01-2020" int,
"24-01-2020" int,
"25-01-2020" int,
"26-01-2020" int,
"27-01-2020" int,
"28-01-2020" int,
"29-01-2020" int,
"30-01-2020" int,
"31-01-2020" int,
"1/2/20" int,
"2/2/20" int,
"3/2/20" int,
"4/2/20" int,
"5/2/20" int,
"6/2/20" int,
"7/2/20" int,
"8/2/20" int,
"9/2/20" int,
"10/2/20" int,
"11/2/20" int,
"12/2/20" int,
"13-02-2020" int,
"14-02-2020" int,
"15-02-2020" int,
"16-02-2020" int,
"17-02-2020" int,
"18-02-2020" int,
"19-02-2020" int,
"20-02-2020" int,
"21-02-2020" int,
"22-02-2020" int,
"23-02-2020" int,
"24-02-2020" int,
"25-02-2020" int,
"26-02-2020" int,
"27-02-2020" int,
"28-02-2020" int,
"29-02-2020" int,
"1/3/20" int,
"2/3/20" int,
"3/3/20" int,
"4/3/20" int,
"5/3/20" int,
"6/3/20" int,
"7/3/20" int,
"8/3/20" int,
"9/3/20" int,
"10/3/20" int,
"11/3/20" int,
"12/3/20" int,
"13-03-2020" int,
"14-03-2020" int,
"15-03-2020" int,
"16-03-2020" int,
"17-03-2020" int,
"18-03-2020" int,
"19-03-2020" int,
"20-03-2020" int,
"21-03-2020" int,
"22-03-2020" int,
"23-03-2020" int,
"24-03-2020" int,
"25-03-2020" int,
"26-03-2020" int,
"27-03-2020" int,
"28-03-2020" int,
"29-03-2020" int,
"30-03-2020" int,
"31-03-2020" int,
"1/4/20" int,
"2/4/20" int,
"3/4/20" int,
"4/4/20" int,
"5/4/20" int,
"6/4/20" int,
"7/4/20" int,
"8/4/20" int,
"9/4/20" int,
"10/4/20" int,
"11/4/20" int,
"12/4/20" int,
"13-04-2020" int,
"14-04-2020" int,
"15-04-2020" int,
"16-04-2020" int,
"17-04-2020" int,
"18-04-2020" int,
"19-04-2020" int,
"20-04-2020" int,
"21-04-2020" int,
"22-04-2020" int
)